<div class="header">
  <div class="header-top1">
    <div id="navbar-example" class="navbar navbar-static" style="border-radius: 0px">
      <div class="navbar-inner" style="border-radius: 0px">
        <div class="container" style="width: auto;">

          <%= link_to t(:welcometo_label) + " carlos21.com - Great tutorials", root_path, :class => 'brand' %> 

          <ul class="nav" role="navigation" style="float:right; margin-right: 80px">
            <li class="active"><%= link_to t(:home_label), root_path %> </li>
            <li><%= link_to t(:about_me_label), about_me_path %></li>
            
             <!-- INTERESTS -->
            <li class="dropdown">
              <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                <%= t(:interests_label) %> 
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                <li><%= link_to 'Ruby', 'http://www.ruby-lang.org/es', :target => '_blank' %></li>
                <li><%= link_to 'Rails', 'http://rubyonrails.org/', :target => '_blank' %></li>
                <li><%= link_to 'Css3', 'http://www.css3.info/', :target => '_blank' %></li>
                <li><%= link_to 'Html5', 'http://html5.org/', :target => '_blank' %></li>
                <li><%= link_to 'JQuery', 'http://jquery.com/', :target => '_blank' %></li>
                <li><%= link_to 'Linux', 'http://www.linux.org/', :target => '_blank' %></li>
              </ul>
            </li>

            <!-- CONTACT ME -->
            <li class="dropdown">
              <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                <%= t(:contact_me_label) %> 
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                <li><%= link_to 'Twitter', 'https://twitter.com/DarkZeratul64', :target => '_blank' %></li>
                <li><%= link_to 'LinkedIn', 'http://pe.linkedin.com/pub/carlos-duclos-caballero/20/aa5/5b1', :target => '_blank' %></li>
                <li><%= mail_to "darkzeratul64@gmail.com", 'Gmail' %></li>
                <li><%= mail_to 'dark_zeratul64@hotmail.com', 'Hotmail' %></li>
                <li><%= link_to 'Github', 'https://github.com/carlos21', :target => '_blank' %></li>
                <li><%= link_to 'Gittip', 'https://www.gittip.com/carlos21', :target => '_blank' %></li>
              </ul>
            </li>

            <!-- DEMOS -->
            <li class="dropdown">
              <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                Demos
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                <% @demos.each do |d| %>
                <li><%= link_to d.name, d.url, :target => '_blank' %></li>
                <% end %>
              </ul>
            </li>

          </ul>
        </div>
      </div>
    </div>

  
    <!--<div class="lang">
      <a href="<%=change_language_path('en')%>">English</a> | <a href="<%=change_language_path('es')%>">Español</a>
    </div>-->
  </div>

  <div class="header-top2">

    <!-- PHOTO -->
    <div class="photo">
      <%= image_tag 'mario.jpg', :size => '60x60' %>
    </div>

    <!-- DESCRIPTION -->
    <div class="details">
      <h1>Carlos Duclós</h1>
      <ul>
        <li>&nbsp;Ruby on Rails Developer</li>
        <li>&nbsp;Css3 & Html5</li>
      </ul>
    </div>

    <div class="header-right-buttons">
      
      <% if request.fullpath == "/" %>
        <%# render :partial => 'socialnetworks/facebook_button', :locals => {:url => 'http://carlos21.com'} %>
        <%= render :partial => 'socialnetworks/twitter_button', :locals => {:url => 'http://carlos21.com'} %>
        <%# render :partial => 'socialnetworks/googleplus_button', :locals => {:url => 'http://carlos21.com'} %>
      <% end %>
    </div>

    <!-- CHAT -->
    <%= render 'chat/chat' %>

  </div>

</div>