<!-- ARTICLES HEADER -->
<div class="articles-header">

  <!-- IMAGE -->
  <div class="image">
    <%= image_tag @article_selected.image_url, :size => '50x50' %>
  </div>

  <div class="description">

    <!-- TITLE -->
    <div class="description-title"><%= @article_selected.name %></div>

    <!-- INTRO -->
    <div class="description-intro"><%= @article_selected.small_description %></div>

  </div>
  <% path = ('demos'  + '/' + @article_selected.path) if @category_selected.id == Constants::CATEGORY_DEMO_ID %>
  <% path = ('guides' + '/' + @category_selected.path + '/' + @article_selected.path) if @category_selected.id != Constants::CATEGORY_DEMO_ID %>

  <div class="right-buttons">
    <%= render :partial => 'socialnetworks/facebook_button', :locals => {:url => root_url + path} %>
    <%= render :partial => 'socialnetworks/twitter_button', :locals => {:url => root_url + path} %>
    <% #render :partial => 'socialnetworks/googleplus_button', :locals => {:url => 'http://carlos21.com'} %>
  </div>

</div>

<!-- CONTENT -->
<div class="article-content">
  <%= markdown @article_selected.content %>
</div>

<div class="comments">
  
  <!-- COMMENTS LIST -->
  <%= render partial: 'comment/list', locals: {comments: @article_selected.comments} %>
  
  <!-- COMMENT FORM -->
  <%= render partial: 'comment/form' %>
  
  <div style="height:40px;"></div>
</div>


