<div class="articles-header">
  <div class="image">
    <%= image_tag @article.image_url, :size => '50x50' %>
  </div>
  <div class="description">
    <div class="description-title"><%= @article.name %></div>
    <div class="description-intro"><%= @article.small_description %></div>
  </div>
</div>
<div style="font-family: Helvetica; font-size: 11.5px;">
  <%= markdown @article.content %>
</div>

<div class="comments">

  <div class="comments-list">
    <% if @article.comments.any? %>
      <h4><%= t(:comments_title) %></h4>
      <% @article.comments.each do |c| %>
        <div class="item">
          <div class="image">
            <%= image_tag 'user-image.png', :class => 'userimage' %>
          </div>
          <div class="description">
            <div class="description-title">
              <b><%= c.name %></b> 
              says:
            </div>
            <div class="description-content">
              <%= c.description %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>  
  
  <div class="comments-form">
    <%= form_tag '/comment/create' do %>
      <h3><%= t(:leave_a_comment_label) %></h3>
      <fieldset>
        <div class="control-group">
          <label class="control-label" for="name"><%= t(:name_label) %></label>
          <div class="input-prepend">
            <span class="add-on">
              <i class="icon-user" style="margin-top:1px"></i>
            </span>
            <%= text_field_tag :name, '', :class => 'input-xlarge', :placeholder => t(:enter_your_name_placeholder) %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="email"><%= t(:email_label) %></label>
          <div class="input-prepend">
            <span class="add-on">@</span>
            <%= text_field_tag :email, '', :class => 'input-xlarge', :placeholder => t(:enter_your_email_placeholder) %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="website"><%= t(:website_label) %></label>
          <div class="input-prepend">
            <span class="add-on">
              <i class="icon-globe" style="margin-top:2px"></i>
            </span>
            <%= text_field_tag :website, '', :class => 'input-xlarge', :placeholder => t(:enter_your_website_placeholder) %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="comments"><%= t(:comments_label) %></label>
          <div class="controls">
            <%= text_area_tag :comments , '', :style => 'width: 299px; height: 80px;', :placeholder => t(:enter_your_comments_placeholder) %>
          </div>
        </div>
          <%= submit_tag t(:submit_button), :class => 'btn btn-info' %>
        
      </fieldset>
    <% end %>
  </div>

</div>
