<div>A new comment has been added!</div>
<div>See below:</div>
<div><%= @category.name %></div>
<div><%= @article.name %></div>
<div>
  <table>
    <tr>
      <td>Name:</td>
      <td><%=@comment.name %></td>
    </tr>
    <tr>
      <td>Email:</td>
      <td><%=@comment.email %></td>
    </tr>
    <tr>
      <td>Website:</td>
      <td><%=@comment.website %></td>
    </tr>
    <tr>
      <td>Description:</td>
      <td><%=@comment.description %></td>
    </tr>
  </table>
</div>