<div class="footer">
  <div class="footer-content">
    <div class="footer-item">
      <span><%= t(:contact_me_label) %></span>
      <ul>
        <li><%= link_to 'Twitter', 'https://twitter.com/DarkZeratul64', :target => '_blank' %></li>
        <li><%= link_to 'LinkedIn', 'http://pe.linkedin.com/pub/carlos-duclos-caballero/20/aa5/5b1', :target => '_blank' %></li>
        <li><%= mail_to "darkzeratul64@gmail.com", 'Gmail' %></li>
        <li><%= mail_to 'dark_zeratul64@hotmail.com', 'Hotmail' %></li>
        <li><%= link_to 'Github', 'https://github.com/carlos21', :target => '_blank' %></li>
        <li><%= link_to 'Gittip', 'https://www.gittip.com/carlos21', :target => '_blank' %></li>
      </ul>
    </div>
    <div class="footer-item">
      <span><%= t(:interests_label) %></span>
      <ul>
        <li><%= link_to 'Ruby', 'http://www.ruby-lang.org/es', :target => '_blank' %></li>
        <li><%= link_to 'Rails', 'http://rubyonrails.org/', :target => '_blank' %></li>
        <li><%= link_to 'Css3', 'http://www.css3.info/', :target => '_blank' %></li>
        <li><%= link_to 'Html5', 'http://html5.org/', :target => '_blank' %></li>
        <li><%= link_to 'JQuery', 'http://jquery.com/', :target => '_blank' %></li>
        <li><%= link_to 'Linux', 'http://www.linux.org/', :target => '_blank' %></li>
      </ul>
    </div>
    <div class="footer-item">
      <span><%= t(:about_me_label) %></span>
      <ul>
        <li>
          <%= link_to t(:view_profile_label), (root_url + @locale.to_s + '/about-me') %>
        </li>
      </ul>
    </div>
    <div class="footer-item">
      <span><%= t(:home_label) %></span>
      <ul>
        <li>
          <%= link_to t(:go_label), root_path %>
        </li>
      </ul>
    </div>
    
    
    
  </div>

  
  
</div>