<div class="navigation">
  <h1><%= t(:topics_label) %></h1>
  <% class_name = '' %>
  <% @categories.each do |c| %>
    <% if @category_selected.path == c.path then class_name = 'selected-name' else class_name = 'name' end %>
    <%= link_to guides_path(@locale, c.path) do %>
      <div class="<%= class_name %>" data-placement="right" data-original-title="<%= c.tooltip %>">
        <%= c.name %>
      </div>
    <% end %>
  <% end %>
</div>