<script type="text/javascript">
  // Set the globals used by chat.js
  channel = "<%= @chat.channel %>";
  chat_id = "<%= @chat.id %>";
  user_id = "<%= @user.id %>";
</script>

<%= javascript_include_tag "http://js.pusherapp.com/1.9/pusher.min.js" %>

<div id="chat">
  <div id="chat-name" >
    <!--<button type="button" class="close" style="color:white; margin-right: 5px" data-dismiss="alert" onclick="closeChat()" >×</button>
    <button type="button" class="close" style="color:white; margin-right: 5px" data-dismiss="alert" onclick="setChatVisibility()">-</button>-->
    
    <div id="chat-title">Pusher chat!</div>
    <div id="chat-nickname">
      <input type="text" name="input-nickname" maxsize="15" value="<%=@user.nickname%>">
    </div>
    <div id="chat-visibility">
      <a href="javascript:setChatVisibility()">Show</a>
    </div>
  </div>
  <div id="chat-container">
    <div id="chat-messages" class="chat-messages">
      <% @messages.each do |m| %>
        <div class="msg">
          <div class="msg-user"><strong><%=m.user.nickname%></strong> said:</div>
          <div class="msg-description"><%=m.description%></div>
        </div>
      <% end %>
    </div>
    <div id="chat-is-typing">

    </div>
    <div class="chat-message">
      <textarea id="message" name="message"></textarea>
    </div>
  </div>
  
  
</div>
