<!DOCTYPE html>
<html>
<head>
  <title>Carlos Duclos - Ruby Developer</title>
  <%=csrf_meta_tags %>

  <%= stylesheet_link_tag "highlight/styles/default", :title => 'Default' %>
  <%= stylesheet_link_tag "styles-main" %>
  <%= stylesheet_link_tag "navigation" %>
  <%= stylesheet_link_tag "article" %>
  <%= stylesheet_link_tag "dashboard" %>
  <%= stylesheet_link_tag "comment" %>
  <%= stylesheet_link_tag "rightmenu" %>
  <%= stylesheet_link_tag "bootstrap/css/bootstrap" %>
  <%= stylesheet_link_tag "jquery/jRating.jquery" %>
  <%= stylesheet_link_tag "jquery/ui.notify" %>
  <%# stylesheet_link_tag "application" %>
  <%= javascript_include_tag "highlight/highlight.pack" %>
  <%= javascript_include_tag "jquery/jquery-1.7.2.min" %>
  <%= javascript_include_tag "jquery/jquery-ui-1.8.22.custom.min" %>
  <%= javascript_include_tag "jquery/jqFloat" %>
  <%= javascript_include_tag "jquery/jRating.jquery" %>
  <%= javascript_include_tag "jquery/ui.notify" %>
  <%= javascript_include_tag "chat.pusher.events" %>
  <%= javascript_include_tag "chat.functions" %>
  <%= javascript_include_tag "navigation" %>
  <%= javascript_include_tag "dashboard" %>
  <%= javascript_include_tag "facebook.api" %>

  <meta property="og:title" content="jje probando" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="" />
  <meta property="og:site_name" content="jejejeje" />
  <meta property="fb:app_id" content="446804795358920" />

  

  

  <script type="text/javascript" >
    hljs.tabReplace = ' ';
    hljs.initHighlightingOnLoad();
    
    var PUSHER_KEY = '<%= Pusher.key %>';
    var post_message_url = "<%=post_message_url%>";
    var typing_status_url = "<%=typing_status_url%>";
    var change_nickname_url = "<%=change_nickname_url%>";
  </script>

  <script type="text/javascript">
    $(document).ready(function(){
      // simple jRating call
      $('.basic').jRating({
        length : 5,
        decimalLength : 5
      });
    });
  </script>

  <%= yield :head %>

</head>
<body>

  
  <!-- HEADER -->
  <%= render 'header' %>
  
  <div class="maincontent">
    
    <!-- NAVIGATION -->
    <%= render 'navigation' %>
    
    <!-- CONTENT -->
    <div class="content">
      <div class="section-content">

        <!-- PAGES PATH -->
        <%= render 'pages_path', :locals => {:pages_path => @pages_path} %>

        <!-- MAIN CONTENT -->
        <%= yield %>

      </div>
    </div>  

    <!-- RIGHT MENU -->
    <%= render 'rightmenu', :locals => {:demos => @demos} %>

  </div>

  <!-- FOOTER -->
  <%= render 'footer' %>

  <!-- RATING -->
  <% render 'rating' %>

  <script type="text/javascript">
    function getDocWidth() {
      var D = document;
      return Math.max(
          Math.max(D.body.scrollWidth, D.documentElement.scrollWidth),
          Math.max(D.body.offsetWidth, D.documentElement.offsetWidth),
          Math.max(D.body.clientWidth, D.documentElement.clientWidth)
      );
    }

    var width = getDocWidth();
    var nav_width = parseInt($('.navigation').css('width'));
    var menu_width = parseInt($('.rightmenu').css('width'));
    var caca = (width - nav_width - menu_width - 30);

    if (nav_width >= 199 && menu_width >= 199) {
      console.log('entro webon');
      $('.content').width(caca);
      $('.section-content').width(caca);
    }

    jQuery(function($){
      $(".navigation").css("height", $(".maincontent").css("height"));   
      $(".rightmenu").css("height", $(".maincontent").css("height"));  
    });
  </script>

  <% if session[:show_rating] == true %>
    <script type="text/javascript">
      setTimeout(function(){
        if ($(".rating")) {
          $(".rating").slideDown('slow');  
        }
      }, 2000);
    </script>
  <% end %>

</body>
</html>
